@using DevJANGO.App.Extensions
@model IEnumerable<DevJANGO.App.ViewModels.ClasseViewModel>

@{
    ViewData["Title"] = "Lista das Classes";
    Layout = "_ClasseLayout";
}

<br />
<div class="container">
    <h1>Classes da Etapa II</h1>

    <vc:Summary></vc:Summary>
    <p>
        <a class="btn btn-info" asp-action="CreateEtapaII">Nova Classe</a>
    </p>
    <partial name="_ListaIndex" />
</div>
<br />
