@model DevJANGO.App.ViewModels.AlunoInscritoViewModel


@{
    ViewData["Title"] = "Inscrição";
    Layout = "/Areas/Encarregado/Views/Shared/_LayoutEncarregado.cshtml";
}

<br />
<div class="container">
    <h1>@ViewData["Title"] Para II Ciclo Economica Jurídica</h1>
    <hr />
    <div class="row">

        <form enctype="multipart/form-data" asp-action="CreateEncarregadoIICicloEconomicaJuridica">
            <vc:Summary></vc:Summary>
            <partial name="_CriarEnsinoSecundario" />

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <a class="btn btn-info" asp-action="IndexEncarregadoIICicloEconomicaJuridica">Voltar</a>
            </div>
        </form>

    </div>

</div>


