@using DevJANGO.App.Extensions
@model PagedViewModel<AlunoInscritoViewModel>


@{
    ViewData["Title"] = "Lista dos Alunos";
    Layout = "_ListaAlunoInscritoParaEncarregadoLayout";
}


<div class="container-sm mt-3">
    <h1>@ViewData["Title"] Inscritos  na Etapa II</h1>

    <vc:Summary></vc:Summary>
    <div class="row align-items-center" style="margin: 6px;">
        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <a class="btn btn-info" asp-action="CreateEncarregadoEtapaDois">Nova Inscrição</a>
            </div>
            <div class="col-lg-2 col-sm-2">
                <p style="margin: 7px;">
                    @Model.List.Count() alunos
                </p>

            </div>
            <div class="col-lg-8 col-sm-8">
                <form method="get" asp-controller="AlunoInscritos" asp-action="IndexEncarregadoEtapaDois" class="search">
                    <div class="input-group w-100">
                        <input type="text" id="q" name="q" class="form-control" value="@ViewBag.Pesquisa" placeholder="Procure pelo nome ou pelo número do documento!">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <partial name="_ListaIndexInscrito" /> 
</div>
