@model DevJANGO.App.ViewModels.ProfessorDisciplinaClasseViewModel

@{
    ViewData["Title"] = "Excluir";
}

<div class="container">
    <h2 class="text-danger"> ): Tem a certeza de que quer @ViewData["Title"] a disciplina 
        de <span class="text-danger">@Model.NomeDisciplina</span>?</h2>

    <hr />
    <div style="padding-top: 5px">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Sim" class="btn btn-danger" />
            <a class="btn btn-info" href="javascript:window.history.back();">Não</a>
        </form>
    </div>
</div>
