@model DevJANGO.App.ViewModels.PagamentoMultaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PagamentoMultaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoMatriculadoId" class="control-label"></label>
                <select asp-for="AlunoMatriculadoId" class ="form-control" asp-items="ViewBag.AlunoMatriculadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
      @*       <div class="form-group">
                <label asp-for="PercentualDesconto" class="control-label"></label>
                <input asp-for="PercentualDesconto" class="form-control" />
                <span asp-validation-for="PercentualDesconto" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ValorDesconto" class="control-label"></label>
                <input asp-for="ValorDesconto" class="form-control" />
                <span asp-validation-for="ValorDesconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPago" class="control-label"></label>
                <input asp-for="TotalPago" class="form-control" />
                <span asp-validation-for="TotalPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagamento" class="control-label"></label>
                <input asp-for="TipoPagamento" class="form-control" />
                <span asp-validation-for="TipoPagamento" class="text-danger"></span>
            </div>
       @*      <div class="form-group">
                <label asp-for="NumeroDeTransacaoDePagamento" class="control-label"></label>
                <input asp-for="NumeroDeTransacaoDePagamento" class="form-control" />
                <span asp-validation-for="NumeroDeTransacaoDePagamento" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
