@model DevJANGO.App.ViewModels.TurmaViewModel

@{
    ViewData["Title"] = "Nova Turma do II Ciclo Economicas e Juridicas";
}

<br />
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <form enctype="multipart/form-data" asp-action="CreateIICicloEj">
            <vc:Summary></vc:Summary>
            <partial name="_CadastroTurma" />
   
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
