@model DevJANGO.App.ViewModels.AlunoMatriculadoViewModel

<div class="container">
    <partial name="_Details" />
    <div style="margin:5px;">
     
        <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
    </div>
</div>

