@model IEnumerable<DevJANGO.App.ViewModels.PagamentoPropinaViewModel>

@{
    ViewData["Title"] = "Lista das Pagamentos";
}

<br />
<div class="container">
    <h1>@ViewData["Title"] Pendentes</h1>

    <vc:Summary></vc:Summary>
      
    <partial name="_ListaPagamentoPendente" />
</div>
<br />
<br />
