@model DevJANGO.App.ViewModels.DisciplinaViewModel

<input type="hidden" asp-for="NiveisDeEnsinoId" class="form-control" />
<div class="row">
    <div class="form-group col-md-8">
        <input asp-for="NomeDisciplina" class="form-control" />
        <span asp-validation-for="NomeDisciplina" class="text-danger"></span>
    </div>
</div>
<br />


