<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Favicon -->
    <link href="~/imagens/logo/logo-Jango.png" rel="icon">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppTeste.styles.css" asp-append-version="true" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Rubik:wght@500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/css/animate/animate.min.css" rel="stylesheet" />
    <link href="~/css/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

@*      <header>
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5" hidden>
            <a asp-controller="Home" asp-action="Index" class="navbar" style="width: 25%; height: 20%;left: 30px;
             display: block;  margin-left: auto;  margin-right: auto;">
                <img src="~/imagens/logo/logo-Ionetech.png" style="width: 35%; height: 40%;" />
            </a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0"></div>
            </div>
            
        </nav>
      
    </header> *@
 
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/wow/wow.min.js"></script>
    <script src="~/js/easing/easing.min.js"></script>
    <script src="~/js/waypoints/waypoints.min.js"></script>
    <script src="~/js/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
