@page
@model LoginModel

@{
    ViewData["Title"] = "Login de usuário";
    Layout = "_LayoutLogin";
}
<section class="section-conten padding-y container" style="min-height:35vh">

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;border-style: solid; border-color: #FF0000;">
        <div class="card-body" style="margin-bottom:0px;">
            <h4 class="card-title mb-4">Seja bem vindo!</h4>
            <form id="account" method="post">
           
                <div class="form-group">
                   @*  <label asp-for="Input.Email"></label> *@
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin: 16px;">
               @*      <label asp-for="Input.Password"></label> *@
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Senha" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
       
                <div class="form-group" style="margin:5px;">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Entrar</button>
                </div>
    
            </form>
    </div>
        <div class="card-footer text-center"><a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Página Inicial?</a></div>
</div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
