@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Redefinir confirmação de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua senha foi reposta. Por favor <a asp-page="./Login">clique aqui para iniciar sessão</a>.
</p>
