@model IEnumerable<DevJANGO.App.ViewModels.PedidoViewModel>
<br />
<br />
<div class="container">
<div>
    <partial name="_PedidosNovos" />
</div>

<br />

<h1>Pedidos Antigos</h1>
<hr />
<div>
    <partial name="_PedidosAntigos" />
</div>
</div>
<br />
<br />




