@model IEnumerable<DevJANGO.App.ViewModels.PedidoViewModel>

<br />
<br />
<div class="container">
    <h1>Ops!</h1>
<vc:Summary></vc:Summary>
<div class="card-body border-top">
    <a class="btn btn-primary" href="javascript:window.history.back();"> <i class="fa fa-chevron-left"></i>Ops:) Produto Não Encotrado! Clique aqui Para Voltar</a>
</div>
</div>
